.card {
  flex-basis: calc(33.33% - 20px);
  background-color: cadetblue;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top:80px ;
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right :300px;
  text-align: center;
  box-sizing: border-box;

}
.body {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg");
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */


}
