<div id="pdf-contenet">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Account No</th>
        <th>Bank Name</th>
        <th>Branch</th>
        <th>IFSC code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of data">
        <td>
          <div *ngIf="transaction.isEdit">
            <input type="text" class="form-control" [(ngModel)]="transaction.name">
          </div>
          <div *ngIf="!transaction.isEdit">
            {{ transaction.name}}
          </div>
        </td>
        <!-- <td>{{ transaction.name }}</td>
        <td>{{ transaction.account_no }}</td>
        <td>{{ transaction.Bank_name }}</td>
        <td>{{ transaction.branch }}</td>

        <td>{{ transaction.IFSC_CODE}}</td> -->
        <td>
          <button type="button" class="btn btn-primary" (click)="delete(transaction.adder_id,transaction.account_no)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <td>
  <div *ngIf="book.isEdit">
    <input type="text" class="form-control" [(ngModel)]="book.pat_id">
  </div>
  <div *ngIf="!book.isEdit">
    {{ book.pat_id }}
  </div>
  < -->
