<!-- <div>
  <p>Register here</p>
<a (click)="onmain()">Go to main page</a>
<form #basicform="ngForm" (submit)="(data)">

  <input ngModel type="text" placeholder="name" name="username" size="30"#username="ngModel">
  <br>
  <input  ngModel type="email" placeholder="email" name="email" pattern=".+@globex\.com" size="30" required #email="ngModel">
  <br>
  <input ngModel type="password" placeholder="password" name="paaword" size="30" required #password="ngModel" >
  <br>
  <input ngModel type="text" placeholder="Mobile" name="Mobile" size="30" #Mobile="ngModel">
 <br>
  <button>submit</button>
</form>
</div> -->
<form
            class="register-form"
            action=""
            #f="ngForm"
            novalidate
            (ngSubmit)="f.form.valid&&onsubmit()"
            >
            <div class="form-group">
              <label for="exampleInputname" class="text-uppercase">Name</label>

              <input type="text" class="form-control" name="name"  id="" [(ngModel)]="data.name" #name="ngModel" required   >
              <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']" >
                  Name is required.
              </span>
           </div>
           <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Email</label>

            <input type="text"  class="form-control" name="email" id="" [(ngModel)]="data.email" #email="ngModel" required  >
            <span class="text-danger"  *ngIf="this.submit&&email.errors?.['required']">
                Email is required.
            </span>
         </div>
         <div class="form-group">
          <label for="exampleInputPassword1" class="text-uppercase">Password</label>
          <input  class="form-control" type="password"  name="password" id="" [(ngModel)]="data.password" #password="ngModel" required minlength="8" >
          <span class="text-danger"  *ngIf="this.submit&&password.errors?.['required']">
                Password is required.
          </span>
          <span class="text-danger"  *ngIf="this.submit&&password.errors?.['minlength']">
              Minimum length of password is 8 characters
          </span>
         </div>
         <div class="form-group">
          <label for="exampleInputmobile" class="text-uppercase">Mobile</label>

          <input type="text" class="form-control" name="Mobile"  id="" [(ngModel)]="data.phone" #mobile="ngModel" required   >
          <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']" >
              Mobile no is required.
          </span>
       </div>

         <div class="form-group">
          <label for="exampleInputbranch" class="text-uppercase">Branch</label>

          <input type="text" class="form-control" name="branch"  id="" [(ngModel)]="data.branch" #branch="ngModel" required   >
          <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']" >
              branch is required.
          </span>
          <div class="form-group">
            <label for="exampleInputdateofbirth" class="text-uppercase">Dob</label>

            <input type="text" class="form-control" name="Dob"  id="" [(ngModel)]="data.date_of_birth" #dob="ngModel" required   >
            <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']" >
                dob is required.
            </span>
         </div>
         <div class="form-group">
          <label for="exampleInputresident" class="text-uppercase">Address</label>

          <input type="text" class="form-control" name="Address"  id="" [(ngModel)]="data.resident" #address="ngModel" required   >
          <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']" >
              resident is required.
          </span>
       </div>
       </div>
         <div class="clearfix"></div>
         <div class="form-group">
            Already have account ? Please <a href="javascript:void(0);" routerLink="/login">Login</a>
         </div>

         <div class="form-group">

          <span class="text-danger" *ngIf="this.errormessage" >
             <p [innerText]="this.errormessage"></p>
          </span>
          <div  class="text-center" *ngIf="this.loading">
            <div class="spinner-border text-primary " role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <input type="submit" class="btn btn-login float-right"  value="Register" (click)="submit=true" [disabled]="this.loading"  >
       </div>
         </form>
